*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media (max-width: 1199.98px) {
    font-size: 50%;
  }
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  // background-color: #ccc;
}

.container {
  // max-width: 1400px;
  // background-color: #cc8;
  // border: 2px solid black;
}

ol,
ol li,
ul,
ul li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  /* 小手 */
  cursor: pointer;
  /* 取消超链接的默认下划线 */
  text-decoration: none;
  /* antd里面还做了 ， 看你团队需不需要这样的风格 */
  transition: color 0.3s ease;
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}
